<%provide(:title, "Create post")%>
<h1> Create_post </h1>

<%=form_for(:posts, url:  posts_path ) do |f| %>
  <%=f.label :title %>
  <%= f.text_field :title%>

  <%= f.label :body %>
  <%= f.text_area :body%>

  <%= f.submit "Create post"%>
  
<% end %>